<footer>
    <!-- Page Footer -->
        <div>
            Official all right reserved
        </div>
        <% if(locals.user){ %>
            <div>
                <a href="/users/home">Home</a>
            </div>
            <div>
                <a href="/users/user_profile">Profile</a>
            </div>
        <% } else{%>
        <div>
            <a href="/users/sign-up">Sign Up</a>
        </div>
        <% } %>
</footer>