header{
    display: flex;
    justify-content: space-between;
    // padding: 10px;
    border:2px solid black;
    background-color: white;
    height : 10vh;
    width : 99vw;
    #website-logo{
        border:2px solid black;
        margin-right: 4px;
    }
    #sign-in-out {
        display: flex;
        div
        {
            border:2px solid black;
        }
    }
}